* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0b1220;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;

    overscroll-behavior: none;
    touch-action: manipulation;
}

/* Phone frame */
.phone-container {
    width: 100%;
    max-width: 430px;
    height: 100vh;
    background: #111827;

    display: flex;
    flex-direction: column;
}

/* Desktop = phone mock */
@media (min-width: 600px) {
    .phone-container {
        height: 860px;
        border-radius: 25px;
        box-shadow: 0 0 30px rgba(0,0,0,0.6);
        border: 1px solid #2a2a2a;
    }
}

.header {
    text-align: center;
    padding: 18px;
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.card {
    flex: 1;
    margin: 16px;
    background: #1f2937;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 25px;

    cursor: pointer;
    transition: transform 0.2s ease;
}

.card:active {
    transform: scale(0.98);
}

.counter {
    color: #9ca3af;
    margin-bottom: 20px;
}

.content {
    color: white;
    font-size: 26px;
    font-weight: bold;
}

.hint {
    margin-top: 30px;
    color: #6b7280;
    font-size: 13px;
}

.footer {
    text-align: center;
    padding: 15px;
    color: #6b7280;
    font-size: 12px;
}